@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

.destaques {
  @apply bg-primary;
}

h1 {
  @apply md:text-7xl;
  @apply text-3xl;
  @apply font-bold;
}

p {
  @apply text-xl;
  @apply font-semibold;
}